@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&display=swap');

$dark-background:#000a0e;
*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: fit-content;
  top: 0;
  left:0 ;
  background-color:$dark-background ;
  color:whitesmoke;
}
#container-box{
width:100vw;
}

@media only screen and (min-width: 600px) {
  #drum-machine{
    margin-top: 80px;
    margin-left: 10px;
    }
}

.nav-btn{
  background-color: rgb(255, 236, 70);
  position: fixed;
  top:0;
  left: 0;
  color: black;
  z-index: 100;
}
button{
  background-color: black;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
  margin: 7px;
  cursor: pointer;
}
button :active {
  transform: scale(0.5);
}

.h4{
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 5px;
}
@media only screen and (max-width: 900px) {
  h4{
    font-size: 15px;
  }
}
.containerr{
  position: relative;
  margin: 5px;
  width: 100vw;
  top: 0;
  left:0 ;
  display: flex;
  background-color:$dark-background;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  padding-bottom: 15vh;
  }

  @media only screen and (max-width: 900px) {
    .container{
      overflow-y: auto;
      width:100vw;
      padding-bottom: 1vh;
      padding-top: 5vh;
      height: fit-content;
    }
  }
  h3{
    position: relative;
    font-family: 'Big Shoulders Stencil Text', cursive;
    margin-bottom: -5px;
    font-size: 50px;
  }
  @media only screen and (max-width: 900px) {
    h3{
      font-size: 25px;
    }
  }
.display{
  box-shadow: 2px 1px 2px 4px  rgb(17, 17, 17);
  border: 2px  rgb(214, 198, 198);
  border-style:outset;
  margin-top: 10vh;
  background-color: rgb(80, 55, 55);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap ;
  width: 350px;
}
@media only screen and (max-width: 600px) {
  .display{
    margin-top: 50vh;
    width: 205px;
  }
}

.box{
  box-shadow: 2px 1px 2px 4px  rgb(17, 17, 17);
  background-color: rgb(227, 230, 220);
  display: flex;
  justify-content: center;
  border: 5px  rgb(214, 198, 198);
  border-style:outset;
  color: #242B2E;
  font-size: 60px;
  border-radius:4px;
  margin:6px;
  width: 100px;
  height: 100px;
}
@media only screen and (max-width: 600px) {
  .box{
    width: 50px;
    height: 50px;
    font-size: 1em;
  }
}

.footertext{
  text-align: right;
  color:rgb(158, 155, 155);
  position:fixed;
  width: 98vw;
  left: 0px;
  bottom:0px;
  font-size: 15px;
  
}
.no-decoration{
  text-decoration: none;
  color:rgb(199, 182, 182);
}
.drum-box{
  box-shadow: 2px 1px 2px 4px  rgb(17, 17, 17);
  border: 5px  rgb(223, 223, 193);
  border-style:outset;
  border-radius:4px;
  display: flex;
  justify-content: center;
  width: auto;
  background-color: rgb(90, 75, 75);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}
@media only screen and (max-width: 600px) {
  .drum-box{
    width: 240px;
    margin-bottom: 70px;
  }
}
.control-drum{
  display: flex;
  align-items: center;
  min-width: 100px;
 
}
.text-display{
  display: block;
  height: 50px;
  font-size: 25px;
}
@media only screen and (max-width: 600px) {
  #text-display{
    height: 25px;
    font-size: 15px;
    
  }
}
.volume-slider {
  align-content: center;
  display: flex;
  width:40vw;
}
@media only screen and (max-width: 600px) {
  .volume-slider {
    margin-top: -10px;
  }
}

.slider{
  
  width:90%;
}
.slider:hover {
  background-color: darkblue;
}
.outer-select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}
.control{
  margin-top: 10px;
}
.inner-select {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.control p{
  font-size: 14px;
  margin: -1px;
  text-align: center;
} 

.select {
  @extend .outer-select;
  padding-top: -10px;
  .inner {
    @extend .inner-select;
    border: 3px  rgb(4, 4, 116);
    border-style:outset;
  }
}
.power-button{
  position: relative;
  margin-left: 3rem;
  
}
.active{

  opacity: 0.8;
  animation-name: bottonToogle;
  animation-duration: 0.2s;
}

@keyframes bottonToogle{
  0%{
   width: 100px;
   height: 100px;
  }
  50%{
    width: 95px;
    height: 95px;
  }
  100%{
    width: 100px;
    height:100px;

  }
  
}
@media only screen and (max-width: 600px) {
  .active{
    opacity: 0.8;
    animation-name: bottonToogle;
    animation-duration: 0.2s;
  }
  @keyframes bottonToogle{
    0%{
     width: 50px;
     height: 50px;
    }
    50%{
      width: 45px;
      height: 45px;
    }
    100%{
      width:50px ;
      height:50px;
  
    }
    
  }
}